{% extends 'base.html.twig' %}

{% block body %}

<div id="add-agence" class="container container-screen">
    <h1 class="title-adherents srt">Ajouter une agence</h1>
{{form(formAgence)}}
</div>
{% endblock %}
