{% extends 'base.html.twig' %}

{% block body %}
<div id="add-agence" class="container container-screen">
<div class="pop-up">
    <div class="">
        <p><span>Attention !</span><br>Vous êtes sur le point de supprimer l'utilisateur <span class="user">{{ user.firstname }} {{ user.lastname }}</span>.<br/>
        Cette action est irréversible, voulez-vous continuer ?</p>
        <div class="links">
            <a class="link-sm" href="{{ path('admin_user_remove', { id: user.id }) }}">Oui</a>
            <a class="link-sm" href="{{ path('admin_user_all') }}">Non</a>
        </div>
    </div>
</div>
</div>

{% endblock %}
