{% extends 'base.html.twig' %}

{% block body %}
    <div id="modified-user" class="container container-screen">
        <h1 class="title-adherents srt">Modifier un utilisateur</h1>
            {{ form(form) }}
    </div>
{% endblock %}
