{% extends 'base.html.twig' %}

{% block body %}
<div id="new-user" class="container container-screen">
    <h1 class="title-adherent">Nouvel utilisateur</h1>
    {{form(form)}}

</div>

{% endblock %}
