{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue Admin</h1>
<div class="">
    <a href="{{ path('admin_user_all') }}">Liste des utilisateurs</a>
</div>
<div class="">
    <a href="{{ path('admin_agence') }}">Voir les agences</a>
</div>
<div class="">
    <a href="{{ path('admin_options') }}">Voir les options</a>
</div>
<div class="">
    <a href="{{ path('adherent_all') }}">Voir les adhérents</a>
</div>


{% endblock %}
