body{
    font-family: $font;
    font-size: 1.4rem;
    font-weight: normal;
    color: $color__purple_black;
    line-height: 1.2em;
}

.container-screen{
    padding-top: 1.8rem;
}

h1{
    text-transform: uppercase;
}

.btn, #adherent_submit, #user_agence_submit, .send-form, #change_profile_submit, #change_password_submit{
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    background-color: $color__pink;
    padding: 1.8rem 3rem 1.5rem 3rem;
    align-self: center;
    border: none;
    border-radius: .5rem;
    position: relative;
    transition: all .2s ease-in-out;
    right: 0rem;
    bottom: 0rem;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        right: -.5rem;
        bottom: -.5rem;
        border-radius: .5rem;
        background-color: $color__purple;
        z-index: -1;
        transition: all .2s ease-in-out;
    }
    &:hover, &:focus{
        right: -.5rem;
        bottom: -.5rem;
        &::before{
            right: 0rem;
            bottom: 0rem;
        }
    }
    &.btn-little{
        font-size: 1.4rem;
    }
}

.link-sm{
    color: $color__pink;
    margin-right: 2rem;
    position: relative;
    margin-top: 1rem;
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -.1rem;
        left: 0;
        width: 0%;
        height: .2rem;
        background-color: $color__pink;
        transition: all .2s ease-in-out;
    }
    &:hover, &:focus{
        &::after{
            width: 100%;
        }
    }
}

#adherents-list .dataTables_filter{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    &:focus{
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

// STYLE GLOBAL TABLEAUX
table.dataTable{
    border-collapse:separate; 
    border-spacing: 0 .5rem;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
    border-bottom: none;
    a{
        color: $color__pink;
        position: relative;
        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -.1rem;
            left: 0;
            width: 0%;
            height: .2rem;
            background-color: $color__pink;
            transition: all .2s ease-in-out;
        }
        &:hover, &:focus{
            &::after{
                width: 100%;
            }
        }
    }
}

table.dataTable tbody tr{
    background-color: $color__grey_light;
    transition: all .3s ease-in-out;
    &:hover, &:focus{
        background-color: $color__purple_hover;
        color: white;
    }
    &.dispo{
        background-color: $color__grey;
        &:hover, &:focus{
            background-color: $color__purple_hover;
            color: white;
        }
    }
    &.nomeet{
        > td{
            border-bottom: .2rem solid $color__pink;
            border-top: .2rem solid $color__pink;
            &:first-child{
                border-left: .2rem solid $color__pink;
            }
            &:last-child{
                border-right: .2rem solid $color__pink;
            }
        }
        &:hover, &:focus{
            background-color: $color__purple_hover;
            color: white;
        }
    }
    &.active{
        background-color: $color__purple_hover;
        color: white;
    }
}

table.dataTable tbody tr td{
    white-space: nowrap;
}

table.dataTable.no-footer{
    border-bottom: none;
}

#all-meetings #DataTables_Table_0_wrapper, #all-adherents #table-adherents_wrapper {
    margin-top: 4rem;
}

#all-meetings, #all-adherents{
    #table-adherents_filter, .dataTables_filter{
        float: none;
        text-align: center;
        margin-bottom: 2rem;
        label{
            color: $color__purple_black;
            font-size: 1.6rem;
        }
        input{
            border: none;
            background-color: $color__grey;
            color: $color__purple;
        }
    }
}

.table-search-thead > tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

#DataTables_Table_0 > thead:nth-child(1) > tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

#DataTables_Table_0 {
    text-align: center;
}

.link-testimony {
    margin-left: 2rem;
    }

.swal2-confirm {
    background-color: $color__pink !important;
    font-size: 1.6rem;
}
.swal2-deny {
    background-color: $color__purple_black !important;
}

.swal2-confirm, .swal2-deny {
    font-size: 1.6rem !important;
}

#swal2-html-container > p:nth-child(1) {
    color: $color__purple;
    font-weight: bold;
    font-size: 1.4rem;
}

#swal2-title {
    color: $color__purple_black;
}

.btns{
    text-align: center;
    margin-top: 4rem;
    a{
        font-size: 1.2rem;
        padding: 1.5rem 2rem 1.2rem 2rem;
    }
}

input{
    padding-left: .5rem !important;
    &:focus{
        outline: none !important;
    }
}

#all-meetings, #all-adherents{
    table.dataTable tbody tr, table.dataTable tbody tr:hover, table.dataTable tbody tr:focus{
        background-color: $color__grey;
        color: $color__purple_black;
    }
}

// POP UP CRÉATION DE RENCONTRE
.swal2-icon.swal2-info, .swal2-icon.swal2-question {
    border-color: $color__pink_light !important;
    color: $color__pink_light !important;
}

// POP UP RENCONTRE
#all-meetings, #adherents-list{
    .modal-adherent{
        height: 100vh;
        width: 100%;
        .modal-info-meet{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 2rem;
            border: .4rem solid $color__pink_light;
            form{
                padding: 4rem;
                .modal-info-woman, .modal-info-man{
                    >div{
                        &:first-child{
                            display: flex;
                            align-items: center;
                            p + p{
                                margin-left: .5rem;
                            }
                            p{
                                font-weight: bold;
                                color: $color__purple;
                                &:first-child{
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
                textarea, select{
                    border: none;
                    outline: none;
                    background-color: $color__grey;
                }
                textarea{
                    width: 100%;
                    color: $color__pink;
                }
                label{
                    margin: 0;
                    margin-top: 1rem;
                    margin-bottom: .5rem;
                }
                .row-return-action{
                    margin-bottom: 1.5rem;
                }
                .meet-info-general{
                    p{
                        text-transform: uppercase;
                        &:nth-child(3){
                            margin-top: 1rem;
                        }
                        &.date-meet, &.id-meet{
                            font-weight: bold;
                        }
                    }
                }
                .modal-meet-text{
                    margin-bottom: 4rem;
                }
                .meet-woman-pdf, .meet-man-pdf{
                    margin-bottom: 1rem;
                }
            }
        }
        .close-modal{
            background-color: transparent;
            border: none;
            top: .9rem;
            right: .9rem;
            cursor: pointer;
            &:hover, &:focus{
                img{
                    opacity: .6;
                }
            }
           img{
               width: 1.8rem;
               transition: .2s;
           }
        }
    }
}

.return-link{
    .link-sm{
        margin: 0;
        &::before{
            content: "<<";
            margin-right: 0.5rem;
        }
    }
}

#selectTriggerFilterWoman{
    label{
        text-transform: initial;
    }
}