body{
    font-family: $font;
    font-size: 1.4rem;
    font-weight: normal;
    color: $color__grey_dark;
    line-height: 1.2em;
}

.container-screen{
    padding-top: 1.8rem;
}

h1{
    text-transform: uppercase;
}

.btn, #adherent_submit, #user_agence_submit, .send-form, #change_profile_submit, #change_password_submit{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
    background-color: $color__grey_dark;
    border: .15rem solid $color__grey_dark;
    padding: .8rem 2.3rem;
    align-self: center;
    border-radius: .5rem;
    position: relative;
    transition: all .2s ease-in-out;
    right: 0rem;
    bottom: 0rem;
    // &::before{
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     right: -.5rem;
    //     bottom: -.5rem;
    //     border-radius: .5rem;
    //     background-color: $color__purple;
    //     z-index: -1;
    //     transition: all .2s ease-in-out;
    // }
    &:hover, &:focus{
        background-color: white;
        color: $color__grey_dark;
    }
    &.btn-little{
        font-size: 1.4rem;
    }
}

.link-sm{
    color: $color__pink;
    margin-right: 2rem;
    position: relative;
    margin-top: 1rem;
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -.1rem;
        left: 0;
        width: 0%;
        height: .2rem;
        background-color: $color__pink;
        transition: all .2s ease-in-out;
    }
    &:hover, &:focus{
        &::after{
            width: 100%;
        }
    }
}

.center{
    text-align: center;
    margin-top: 3rem;
}

#adherents-list .dataTables_filter{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    &:focus{
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

// STYLE GLOBAL TABLEAUX
table.dataTable{
    border-collapse:separate; 
    border-spacing: 0 .5rem;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
    border-bottom: none;
    a{
        color: $color__pink;
        position: relative;
        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -.1rem;
            left: 0;
            width: 0%;
            height: .2rem;
            background-color: $color__pink;
            transition: all .2s ease-in-out;
        }
        &:hover, &:focus{
            &::after{
                width: 100%;
            }
        }
    }
}

table.dataTable tbody tr{
    background-color: $color__grey_light;
    transition: all .3s ease-in-out;
    &:hover, &:focus{
        background-color: grey;
        color: white;
    }
    &.dispo{
        background-color: $color__grey;
        &:hover, &:focus{
            background-color: grey;
            color: white;
        }
    }
    &.nomeet{
        > td{
            border-bottom: .2rem solid $color__pink;
            border-top: .2rem solid $color__pink;
            &:first-child{
                border-left: .2rem solid $color__pink;
            }
            &:last-child{
                border-right: .2rem solid $color__pink;
            }
        }
        &:hover, &:focus{
            background-color: grey;
            color: white;
        }
    }
    &.active{
        background-color: grey;
        color: white;
    }
}

table.dataTable tbody tr td{
    white-space: nowrap;
}

table.dataTable.no-footer{
    border-bottom: none;
}

#all-meetings .dataTables_wrapper, #all-adherents #table-search_wrapper {
    margin-top: 4rem;
}

.search-inter-agence{
    position: relative;
    .filter-button{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
}
.modal-filter{
    margin-bottom: 2rem;
}

#all-meetings, #all-adherents{
    #table-adherents_filter, .dataTables_filter{
        float: none;
        text-align: center;
        margin-bottom: 2rem;
        label{
            color: $color__purple_black;
            font-size: 1.6rem;
        }
        input{
            border: none;
            background-color: $color__grey;
            color: $color__purple;
        }
    }
    #table-search_filter, #table-search-inter-agence_filter{
        display: none;
    }
    .search-filter{
        display: flex;
        justify-content: center;
        .search-year,
        .search-size,
        .search-weight{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            align-items: center;
            .year-min,
            .year-max,
            .size-min,
            .size-max,
            .weight-min,
            .weight-max{
                margin-top: 1rem;
            }
        }
        label{
            color: $color__purple_black;
            font-size: 1.6rem;
        }
        input{
            border: none;
            background-color: $color__grey;
            color: $color__purple;
            border-radius: 3px;
            padding: 5px;
        }
    }
    #selectTriggerSearchInterAgence{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        div{
            margin-top: 1rem;
        }
        .filter{
            margin-top: .5rem;
            background-color: $color__grey;
            color: $color__purple;
            padding: 5px;
            border: none;
            border-radius: 3px;
        }
        div + div{
            margin-left: 1.5rem;
        }
    }
    label{
        color: $color__purple_black;
        font-size: 1.6rem;
    }
    input{
        border: none;
        background-color: $color__grey;
        color: $color__purple;
        border-radius: 3px;
        padding: 5px;
        &.search-filter-text{
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    }
}

.table-search-thead > tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

.dataTable > thead:nth-child(1) > tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

.dataTable {
    text-align: center;
}

.link-testimony {
    margin-left: 2rem;
    }

.swal2-confirm {
    background-color: $color__pink !important;
    font-size: 1.6rem;
}
.swal2-deny {
    background-color: $color__purple_black !important;
}

.swal2-confirm, .swal2-deny {
    font-size: 1.6rem !important;
}

#swal2-html-container > p:nth-child(1) {
    color: $color__purple;
    font-weight: bold;
    font-size: 1.4rem;
}

#swal2-title {
    color: $color__purple_black;
}

.btns{
    //text-align: center;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    a{
        font-size: 1.2rem;
        padding: 1.5rem 2rem 1.2rem 2rem;
    }
}

input{
    padding-left: .5rem !important;
    &:focus{
        outline: none !important;
    }
}

#all-meetings, #all-adherents{
    table.dataTable tbody tr, table.dataTable tbody tr:hover, table.dataTable tbody tr:focus{
        background-color: $color__grey;
        color: $color__purple_black;
    }
    .search-filter-text{
        background-color: transparent !important;
        text-align: center;
    }
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

// POP UP CRÉATION DE RENCONTRE
.swal2-icon.swal2-info, .swal2-icon.swal2-question {
    border-color: $color__pink_light !important;
    color: $color__pink_light !important;
}

// POP UP RENCONTRE
#all-meetings, #adherents-list, #selected-profile{
    .modal-adherent{
        height: 100vh;
        width: 100%;
        z-index: 100;
        .modal-info-meet{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 2rem;
            box-shadow: $shad;
            // border: .4rem solid $color__pink_light;
            form{
                padding: 4rem;
                .modal-info-woman, .modal-info-man{
                    >div{
                        &:first-child{
                            display: flex;
                            align-items: center;
                            p + p{
                                margin-left: .5rem;
                            }
                            p{
                                font-weight: bold;
                                color: $color__purple;
                                &:first-child{
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
                textarea, select{
                    border: none;
                    outline: none;
                    background-color: $color__grey;
                }
                textarea{
                    width: 100%;
                    color: $color__pink;
                    padding: .5rem;
                }
                label{
                    margin: 0;
                    margin-top: 1rem;
                    margin-bottom: .5rem;
                }
                .row-return-action{
                    margin-bottom: 1.5rem;
                    .col-return {
                        margin-right: 1rem ;
                        input {
                            height: 2.6rem;
                        }
                    }
                    .col-action {
                        select {
                            height: 2.6rem;
                        }
                    }
                }
                .meet-info-general{
                    p{
                        text-transform: uppercase;
                        &:nth-child(3){
                            margin-top: 1rem;
                        }
                        &.date-meet, &.id-meet{
                            font-weight: bold;
                        }
                    }
                }
                .modal-meet-text{
                    margin-bottom: 4rem;
                }
                .meet-woman-pdf-position, .meet-man-pdf-position{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .meet-woman-pdf, .meet-man-pdf{
                        margin-bottom: 1rem;
                    }
                    .meet-woman-choice-postion, .meet-man-choice-postion{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .col-action label{
                    text-align: end;
                }
            }
        }
        .close-modal{
            background-color: transparent;
            border: none;
            top: .9rem;
            right: .9rem;
            cursor: pointer;
            &:hover, &:focus{
                img{
                    opacity: .6;
                }
            }
           img{
               width: 1.8rem;
               transition: .2s;
           }
        }
    }
}

.return-link{
    .link-sm{
        margin: 0;
        &::before{
            content: "<<";
            margin-right: 0.5rem;
        }
    }
}

#selectTriggerFilterWoman, #selectTriggerFilterMan{
    label{
        text-transform: initial;
    }
}

// ÉCRAN "LISTE DES ENVOIS"
#list-pdf{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        margin-bottom: 6rem;
    }
    .send-paper{
        margin-bottom: 2rem;
    }
    .content{
        background-color: white;
        border-radius: 1rem;
        box-shadow: $shad;
        padding: 3rem;
        p+p{
            margin-top: 1rem;
        }
        .link-sm{
            margin: 0;
        }
        span{
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}

// ÉCRAN "TOUTES LES RENCONTRES DE ..."
#list-meets{
    h1{
        margin-bottom: 6rem;
    }
    .meet-adherent-form{
        border-radius: 2rem;
        border: .4rem solid $color__pink_light;
        background-color: $color__grey_light;
        form{
            .modal-info-woman, .modal-info-man{
                >div{
                    &:first-child{
                        display: flex;
                        align-items: center;
                        p + p{
                            margin-left: .5rem;
                        }
                        p{
                            font-weight: bold;
                            color: $color__purple;
                            &:first-child{
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            textarea, select{
                border: none;
                outline: none;
                background-color: $color__grey;
            }
            textarea{
                width: 100%;
                color: $color__pink;
                padding: .5rem;
            }
            label{
                margin: 0;
                margin-top: 1rem;
                margin-bottom: .5rem;
            }
            .row-return-action{
                margin-bottom: 1.5rem;
            }
            .meet-info-general{
                p{
                    text-transform: uppercase;
                    &:nth-child(3){
                        margin-top: 1rem;
                    }
                    &.date-meet, &.id-meet{
                        font-weight: bold;
                    }
                }
            }
            .modal-meet-text{
                margin-bottom: 4rem;
            }
            .meet-woman-pdf, .meet-man-pdf{
                margin-bottom: 1rem;
            }
        }
    }
}

.dataTables_info{
    font-style: italic;
}

