body{
    position: relative;
    header{
        z-index: 100;
        position: absolute;
        display: inline-block;
        .btn-menu{
            z-index: 1000;
            position: absolute;
            top: 1.8rem;
            left: 4.3rem;
            width: 2.5rem;
            > div{
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover, &:focus{
                    opacity: .7;
                }
            }
            .btn-opened{
                display: none;
            }
        }
        .languette-menu{
            height: 100vh;
            width: 30rem;
            position: absolute;
            left: -35rem;
            padding-top: 8rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 1rem;
            background-color: white;
            box-shadow: $shad;
            transition: all .4s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            &.menu-opened{
                left: 0; 
            }
            // &::before{
            //     content: "";
            //     display: block;
            //     width: 108%;
            //     height: 105%;
            //     position: absolute;
            //     background-color: $color__pink;
            //     border-bottom-left-radius: 1rem;
            //     border-bottom-right-radius: 1rem;
            //     z-index: -1;
            //     top: -.9rem; 
            //     left: 50%;
            //     transform: translate(-50%);
            // }
            &_logo{
                max-width: 13rem;
                margin-bottom: 6rem;
            }
            &_list{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                > div{
                    a{
                        color: $color__grey_dark;
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                        line-height: 1.1em;
                        font-weight: bold;
                        white-space: nowrap;
                        &:hover, &:focus{
                            color: $color__purple;
                            // svg{
                            //     circle{
                            //         stroke: $color__pink;
                            //     }
                            //     path{
                            //         fill: $color__pink;
                            //     }
                            // }
                        }
                        svg{
                            margin-right: 0.8rem;
                            circle, path{
                                transition: all .2s ease-in-out;
                            }
                        }
                    }
                    &.link-admin{
                        grid-column: 2;
                    }
                }
            }
            &_mentions{
                text-align: center;
                margin-top: auto;
                p{
                    font-weight: 300;
                    font-size: 1.1rem;
                    font-style: italic;
                }
            }
        }
    }
}
