#my-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 10rem;
    }
    > div{
        display: flex;
        align-items: center;
        flex-direction: column;
        p{
            margin-top: 1rem;
            font-size: 1.6rem;
            span{
                font-weight: bold;
            }
        }
        .d-flex{
            margin-top: 10rem;
            .btn + .btn{
                margin-left: 2rem;
            }
        }
        > div:first-child{
            max-width: 30rem;
        }
    }
}


