#my-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 10rem;
    }
    > div{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: $shad;
        p{
            margin-top: 1rem;
            font-size: 1.6rem;
            span{
                font-weight: bold;
            }
        }
        .d-flex{
            margin-top: 10rem;
            .btn + .btn{
                margin-left: 2rem;
            }
        }
        > div:first-child{
            max-width: 30rem;
        }
    }
}


#my-profile > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) > div:nth-child(2) > p:nth-child(1) {
    margin-bottom: 0.5rem;
}

