#my-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 10rem;
    }
    > div{
        p{
            margin-top: 1rem;
            font-size: 1.6rem;
        }
        .d-flex{
            margin-top: 10rem;
            .btn + .btn{
                margin-left: 2rem;
            }
        }
    }
}