#selected-profile{
    h1{
        text-align: center;
    }
    .links{
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        ul{
            list-style: none;
            display: flex;
            li +li {
                margin-left: 2rem;
            }
        }
    }
    form{
        max-width: 120rem;
        margin: 0 auto;
        label, input, select{
            font-size: 1.6rem;
            margin: 0;
            margin-right: .5rem;
        }
        select, input{
            font-weight: bold;
            color: $color__purple;
            border: none;
            background-color: $color__grey;
            padding-top: 0.3rem;
        }
    }
    section{
        &.header-adherent{
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5rem;
            .image-adherent{
                width: 12rem;
                height: 13rem;
                object-fit: cover;
                margin-right: 1rem;
            }
            > div{
                &:first-child{
                    width: 85%;
                    > div + div{
                        margin-top: .5rem;
                    }
                }
                .row-first, .row-second, .row-third {
                    justify-content: start;
                    align-items: start;
                    justify-content: space-between;
                    .col{
                        margin: .4rem;
                        display: flex;
                        label{
                            white-space: nowrap;
                            line-height: 1.3em;
                        }
                        input{
                            width: 12rem;
                            padding: 0.2rem;
                        }
                    }
                }
            }
            .container-comments{
                width: 100%;
                display: flex;
                align-items: flex-end;
                textarea{
                    height: 10rem;
                    color: $color__purple;
                    border: .2rem solid $color__grey;
                    border-radius: 1rem;
                    outline: none;
                    padding: .5rem;
                }
                .col + .col{
                    margin-left: 2rem;
                }
            }
            .col{
                margin: 0;
                div:nth-child(2){
                    font-size: 1.6rem;
                    color: $color__purple_black;
                    font-weight: bold;
                }
            }

            #adherent_birthdate_month, #adherent_birthdate_year{
                margin-left: 0.3rem;
            }
        }

        &.body-adherent{
            margin-top: 6rem;
            .container-general{
                width: 100%;
                border: .2rem solid $color__purple;
                padding: 1.2rem;
                background-color: $color__grey_light;
                position: relative;
                .onglets{
                    position: absolute;
                    top: -3.8rem;
                    left: -.22rem;
                    button{
                        font-weight: bold;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        color: white;
                        background-color: $color__purple;
                        border: none;
                        padding: 1rem;
                        border: .2rem solid $color__purple;
                        border-bottom: none;
                        cursor: pointer;
                        &:hover, &:focus{
                            background-color: $color__grey_light;
                            color: $color__purple;
                        }
                    }
                }
                .tab{
                    justify-content: space-between;
                    label{
                        display: inline-block;
                        text-align: end;
                    }
                    .row-general-first{
                        label{
                            width: 13.5rem;
                        }
                    }
                    .row-general-second{
                        label{
                            width: 12.3rem;
                        }
                    }
                    .row-general-third{
                        label{
                            width: 23.6rem;
                        }
                    }
                    textarea{
                        background-color: $color__grey;
                        border: none;
                    }
                    .row-meets-first, .row-meets-first table {
                        width: 100%;
                        border-collapse:separate; 
                        border-spacing: 0 .5rem;
                        .nomeet{
                            text-align: center;
                            margin-top: 4rem;
                            font-weight: bold;
                            margin-bottom: 4rem;
                            font-size: 1.6rem;
                        }
                        tr{
                            text-align: center;
                        }
                        thead{
                            tr{
                                td{
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    &:last-child{
                                        display: flex;
                                        justify-content: center;
                                        a{
                                            img{
                                                width: 1.4rem;
                                            }
                                            &:hover, &:focus{
                                                opacity: .7;
                                            }
                                            &::after{
                                                content: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        a{
                            color: $color__pink;
                            position: relative;
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: -.1rem;
                                left: 0;
                                width: 0%;
                                height: .2rem;
                                background-color: $color__pink;
                                transition: all .2s ease-in-out;
                            }
                            &:hover, &:focus{
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                        .links-end{
                            margin-top: 3rem;
                            text-align: center;
                            a + a{
                                margin-left: 2rem;
                            }
                        }
                    }

                    &.tab-announcement{
                        .row-announcement-first, .row-announcement-second{
                            width: 48%;
                        }
                        textarea{
                            width: 100%;
                            height: 12rem;
                        }
                    }

                    &.tab-documents {
                        .fic-adherent {
                            display: flex;
                            align-items: center;
                            a {
                                display: inline-block;
                                margin-left: 1rem;
                            }
                            embed {
                                max-height: 120px;
                                width: auto;
                            }
                        }

                    }
                }
            }
            + div{
                margin-top: 3rem;
                position: relative;
                z-index: 10;
                text-align: center;
            }
        }
    }

    &.add-adherent{
        section{
            &.header-adherent{
                input{
                    background-color: $color__grey;
                }
            }
            &.body-adherent{
                .container-general{
                    .onglets{
                        top: -3.9rem;
                    }
                }
            }
        }
    }

    br{
        display: block;
    }
}