// COLORS
$color__pink: #E71C59;
$color__pink_light: #C785AD;
$color__pink_extralight: #EEE0E9;
$color__purple_black: #602C4B;
$color__purple: #A00055;
$color__grey: #E7E7E7;
$color__grey_light: #FBFBFB;
$color__green: #E0EEE8;

// FONTS
$font: 'Josefin Sans', 'Arial', sans-serif;
