{% extends 'base.html.twig' %}

{% block body %}
<div id="add-agence" class="container container-screen">
    <div class="pop-up">
        <div class="">
            <p><span>Attention !</span><br>
            Vous êtes sur le point de supprimer l'agence <span class="user">{{ agence.name }} de {{ agence.addressTown }}</span>.<br/>
            Cette action est irréversible et va supprimer tous les adhérents de l'agence, voulez-vous continuer ?</p>
            <div class="links">
                <a class="link-sm" href="{{ path('admin_agence_remove', { id: agence.id }) }}">Oui</a>
                <a class="link-sm" href="{{ path('admin_agence') }}">Non</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
