{% extends 'base.html.twig' %}

{% block body %}

    <div class="error500">
        <h1>Erreur Serveur</h1>
        <p>Merci de contacter l'administrateur du site !</p>
        <a href="{{ path('app_login') }}">Retour à l'acceuil</a>
    </div>

{% endblock %}