{% extends 'base.html.twig' %}

{% block body %}
<div id="new-user" class="container container-screen">
    <h1 class="title-adherents">Modifier mon mot de passe</h1>
{{form(formPassword)}}
</div>
{% endblock %}
