{% extends 'base.html.twig' %}

{% block body %}
<div id="new-user" class="container container-screen">
    <h1 class="title-adherents">Modifier mon profil</h1>
{{form(formChange)}}
</div>
{% endblock %}
